{{! This is the header - it will be output using this markup }}

<footer class="footer">
	<section class="container">
		{{! FOOTER SOCIAL MEDIA START }}
		<ul class="footer-social-media">
			<li><a href="https://twitter.com/glossyinc" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://www.facebook.com/glossy.pr" target="_blank"><i class="fa fa-twitter"></i></a></li>
			{{!-- <li><a href="{{@blog.url}}" target="_blank"><i class="fa fa-google-plus"></i></a></li> --}}
			<li><a href="https://www.instagram.com/glossypr" target="_blank"><i class="fa fa-instagram"></i></a></li>
			{{!-- <li><a href="{{@blog.url}}" target="_blank"><i class="fa fa-vine"></i></a></li> --}}
			{{!-- <li><a href="{{@blog.url}}" target="_blank"><i class="fa fa-youtube"></i></a></li> --}}
		</ul>
		{{! FOOTER SOCIAL MEDIA END }}
		{{! COPYRIGHT START }}
		<p>&copy; {{date format="YYYY"}} Copyright {{@blog.title}} - All rights reserved</p>
		{{! COPYRIGHT END }}
	</section>
</footer>
