{{! This is the header - it will be output using this markup }}

{{#is "home"}}
<header class="header" id="header">
{{else}}
<header class="header fixed-header">
{{/is}}
	<section class="container">
		{{! LOGO START }}
		{{#if @blog.logo}}
			<a href="{{@blog.url}}" class="site-logo"><img alt="{{@blog.title}}" src="{{@blog.logo}}"></a>
		{{/if}}
		{{! LOGO END }}
		{{! NAV MENU START }}
		<nav class="navbar">

			{{! MOBILE MENU START }}
			<div class="navbar-header">
				<a class="navbar-brand" href="{{@blog.url}}">
					{{#is "home"}}
						<img src="/assets/img/glossy.svg" id="blog-logo" width="127" height="42">
					{{else}}
						<img src="/assets/img/glossy-icon.svg" width="53" height="53">
					{{/is}}
				</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			{{! MOBILE MENU END }}
			{{! MENU LIST START }}
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				
					{{ navigation }}

				</ul>
				<form class="navbar-form navbar-right" role="search" action="{{@blog.url}}/search" method="get">
			      <div class="navbar-form navbar-right">
			        <input type="text" class="header-search-form" placeholder="Search">
			      </div>
			    </form>
			    <button type="submit" class="header-search-form-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</div>
			{{! MENU LIST END }}

		</nav>
		{{! NAV MENU END }}
	</section>
</header>
