{{! This is the post loop - each post will be output using this markup }}

{{#foreach posts}}
	{{^if featured}}
		<div class="col-sm-6 col-xs-12">
		  <article>
		    <a href="{{url}}">
		      <div class="two-grid-image" style="background-image:url({{#if image}}{{image}}{{else}}{{asset "img/news.jpg"}}{{/if}})"></div>
		      <div class="two-grid-item-content">
		        <div class="post-list-information">
		          {{!-- {{#if tags}}
								<span class="category">{{tags autolink="false" separator=", "}} </span>
							{{/if}}
		          <span>//</span> --}}
		          <span class="date"><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time></span>
		        </div>
		        <div class="two-grid-title">
		          <h2>{{{title}}}</h2>
		        </div>
		        <p>{{excerpt words="52"}}</p>
		        <span class="more">More &raquo;</span>
		      </div>
		    </a>
		  </article>
		</div>
	{{/if}}
{{/foreach}}