
{{! This is the navigation links - it will be output using this markup }}

{{#foreach navigation}}
     <li><a href="{{url absolute="true"}}" {{#if current}}class="nav-current"{{/if}}>{{label}}</a></li>
{{/foreach}}