
{{! This is the pagination - it will be output using this markup }}

<nav class="home-page-navigation">
	<ul class="pagination">
    {{#if prev}}
    <li><a href="{{page_url prev}}"><span aria-hidden="true">&laquo;</span></a></li>
    {{/if}}
    <li class="page-number">Page {{page}} of {{pages}}</li>
    {{#if next}}
		<li><a href="{{page_url next}}"><span aria-hidden="true">&raquo;</span></a></li>
    {{/if}}
	</ul>
</nav>