// Page Colours
$page-highlight-color: #f9c4cd;
$button-font-color: #000;

// Font Colours
$primary-font-color: #000;
$nav-font-color: #000;
$blockquote-font-color: #f9c4cd;
$footer-font-color: #848383;

// Homepage Colours
$post-info-color: #fff;
$post-info-hover-color: #000;
$post-background: rgba(249, 196, 205, .95);

// Navbar
$navbar-current-background: #000;
$navbar-current-font-color: #848383;
$search-background: #fff;
$search-border-color: #e5e5e5;
$search-icon-color: #838383;

// Post Colours
$single-top-info-color: #fff;
$single-top-info-background: #000;

// Sidebar Colours
$sidebar-widget-title-color: #fff;
$sidebar-widget-title-background: #848383;

$post-share-category-color: #fff;
$post-share-category-background: #000;

$sidebar-widget-divider-color: #e5e5e5;