{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! CATEGORY TITLE START }}
<section class="category-archive-title">
	<section class="container">
	<h1>Category: <span>{{author.name}}</span></h1>
	</section>
</section>
{{! CATEGORY TITLE END }}
<section class="container">
	<section class="site-page-content">
		<section class="row">
			{{! PAGE CONTENT START }}
			<div class="col-sm-9 col-xs-12">
				<div class="category-list">
					{{#author}}
						{{! AUTHOR INFO START }}
						<div class="post-author">
						<aside class="about-author">
							<div class="author-info-avatar">
							<a class="avatar" href="{{url}}" style="background-image: url({{image}})"></a>
							</div>
							<div class="author-info-description">
							<h4><span>{{name}}</span></h4>
							<p>{{bio}}</p>
							</div>
						</aside>
						</div>
						{{! AUTHOR INFO END }}
					{{/author}}
				<div class="category-list">
					{{! The tag below includes the post loop - partials/loop.hbs }}
							{{> "loop-archive"}}
					{{! PAGINATION START }}
					{{ pagination }}
					{{! PAGINATION END }}
				</div>
				</div>
			</div>
			{{! PAGE CONTENT END }}
			{{! SIDEBAR START }}
			<div class="col-sm-3 col-xs-12">
			<aside class="sidebar">

					{{! WIDGET START }}
					{{> "widgets/twitter"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "widgets/advertising"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "widgets/facebook"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "widgets/newsletter"}}
					{{! WIDGET END }}

			</aside>
			</div>
			{{! SIDEBAR END }}
		</section>
	</section>
</section>

