<!DOCTYPE html>
<html>
<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">

	{{! Styles'n'Scripts }}
	<link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />

	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>
{{#is "home"}}
<body class="{{body_class}} nav-closed">
{{else}}
<body class="{{body_class}} nav-closed" style="margin-top:87px;">
{{/is}}

	{{! LOADER START }}
	<div class="loader-wrapper">
		<div class="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	{{! LOADER END }}

	{{! SLIDER START }}
	{{#is "home"}}
		{{> "slider" }}
	{{/is}}
	{{! SLIDER END }}

	{{! HEADER START }}
	{{> "header"}}
	{{! HEADER END }}
	
	{{! SITE CONTENT START }}
	<section class="site-content-wrapper">
		{{{body}}}
	</section>
	{{! SITE CONTENT END }}

	{{! FOOTER START }}
		{{> "footer"}}
	{{! FOOTER END }}

	{{! FOOTER BOTTOM START }}
		<section class="footer-bottom">
			<div class="top-icon">
				<i class="fa fa-chevron-up"></i>
				<span>top</span>
			</div>
		</section>
	{{! FOOTER BOTTOM END }}

	{{! Ghost outputs important scripts and data with this tag }}
	{{ghost_foot}}

	{{! JAVASCRIPT START }}
		<script src="{{asset "js/jquery.min.js"}}"></script>
		<script src="{{asset "js/jquery.fitvids.js"}}"></script>
		<script src="{{asset "js/jquery.ghostrelated.js"}}"></script>
		<script src="{{asset "js/jquery.ghostHunter.js"}}"></script>
		<script src="{{asset "js/bootstrap.min.js"}}"></script>
		<script src="{{asset "js/glossy.min.js"}}"></script>
		<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
		<script id="dsq-count-scr" src="//goriatheme.disqus.com/count.js" async></script>
	{{! JAVASCRIPT END }}

</body>
</html>
