{{!< default}}

{{! This is a page template with right sidebar. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}

{{#post}}
{{! PAGE BANNER START }}
<section class="content-full-banner" style="background-image:url({{image}});">
  <section class="container">
    <h1>{{title}}</h1>
    <p>{{excerpt words="7"}}</p>
  </section>
</section>
{{! PAGE BANNER END }}
<section class="container">
  <section class="site-page-content">
    <section class="row">
    {{! PAGE CONTENT START }}
    <div class="col-sm-9 col-xs-12">
      <h3 class="page-title">{{title}}</h3>
      {{content}}
    </div>
    {{! PAGE CONTENT END }}
    {{! SIDEBAR START }}
    <div class="col-sm-3 col-xs-12">
      <aside class="sidebar">

        {{! WIDGET START }}
        {{!-- {{> "widgets/twitter"}} --}}
        {{! WIDGET END }}

        {{! WIDGET START }}
        {{!-- {{> "widgets/advertising"}} --}}
        {{! WIDGET END }}

        {{! WIDGET START }}
        {{!-- {{> "widgets/facebook"}} --}}
        {{! WIDGET END }}

        {{! WIDGET START }}
        {{> "widgets/newsletter"}}
        {{! WIDGET END }}

      </aside>
    </div>
    {{! SIDEBAR END }}
    </section>
  </section>
</section>
{{/post}}






