{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}

{{#post}}
{{! PAGE BANNER START }}
<section class="content-full-banner" style="background-image:url({{image}});">
  <section class="container">
    <h1>{{title}}</h1>
    <p>{{excerpt words="7"}}</p>
  </section>
</section>
{{! PAGE BANNER END }}
{{! PAGE CONTENT START }}
<section class="container">
  <section class="site-page-content">
    <div class="space-text">
      <h3 class="page-title">{{title}}</h3>
      {{content}}
    </div>
  </section>
</section>
{{! PAGE CONTENT END }}
{{/post}}



