{{!< default}}

{{! This is a contact page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}

{{#post}}
{{! PAGE BANNER START }}
<section class="content-full-banner" style="background-image:url({{image}});">
  <section class="container">
    {{!-- <h1>{{title}}</h1> --}}
    <h1 style="text-transform:lowercase;">i am glossy</h1>
  </section>
</section>
{{! PAGE BANNER END }}
{{! PAGE CONTENT START }}
<section class="container">
  <section class="site-page-content contact-form-content">
    <div class="space-text">
      {{! CONTACT INFORMATION START }}
      <h3>CONTACT INFORMATION</h3>
      <ul class="contact-information-list">
        <li><i class="fa fa-map-marker"></i> <span>Gloria Theme, King Street, 98321 New York<br/>Nulla in neque laoreet, maximus purus ac, pharetra nisi. Ut lectus justo, luctus in lorem rutrum, suscipit placerat justo. Cras id dui est. Etiam sagittis fermentum dolor vel pellentesque.</span></li>
        <li><i class="fa fa-phone"></i> <span>+90 212 000 00 00</span></li>
        <li><i class="fa fa-fax"></i> <span>+90 212 000 00 00</span></li>
        <li><i class="fa fa-envelope"></i> <span>info@gloriatheme.com</span></li>
      </ul>
      <h4>SOCIAL MEDIA</h4>
      <p>Follow us on social media</p>
      <ul class="social-media-page-link">
        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-vine"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
      </ul>
      <h4>CONTACT FORM</h4>
      <p>
        Due to email harvesting, we do not post our contact email on our website. Use the form below and we will reply immediately to your enquires.
      </p>
      <form>
        <div class="contact-page-form">
          
          <div class="form-group">
            <input type="text" name="name" placeholder="Name" id="contact-name">
          </div>
          <div class="form-group">
            <input type="email" name="email" placeholder="Email" id="contact-email">
          </div>
          <div class="form-group">
            <input type="text" name="subject" placeholder="Subject" id="contact-subject">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="10" name="message" placeholder="Message" id="contact-message"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" name="submitContactForm" class="btn btn-danger">Submit &raquo;</button>
          </div>

        </div>
      </form>
      {{! CONTACT INFORMATION END }}
      {{content}}
    </div>
  </section>
</section>
{{! PAGE CONTENT END }}
{{/post}}