{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}

{{#post}}
{{! PAGE BANNER START }}
<section class="content-full-banner" style="background-image:url({{image}});">
  <section class="container">
    <h1>{{title}}</h1>
  </section>
</section>
{{! PAGE BANNER END }}
{{! PAGE CONTENT START }}
<section class="container">
  <section class="site-page-content about-page-content">
    <div class="space-text">

      {{!-- ABOUT INFORMATION START --}}
      <h3>ABOUT</h3>
      <p>
        Founded by Shannon Stephaniuk in 2006, glossy is publicity and marketing specializing in advertising and creativity. On behalf of their international roster of clients, glossy has worked on campaigns for some of the world’s biggest brands including Adidas, Audi, Coca-Cola, Converse, Dove, Diesel, Evian, MINI, Sapporo, Stella Artois and Vespa as well as influential pop-culture icons Radiohead, R.E.M., OK-Go and Douglas Coupland.
      </p>
      {{!-- ABOUT INFORMATION END --}}
      {{content}}

    </div>
  </section>
</section>
{{! PAGE CONTENT END }}
{{/post}}



