{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}

{{#post}}
{{! PAGE CONTENT START }}
<section class="container">
  <section class="site-page-content search-page">
    <div class="space-text">
      <h3 class="page-title">{{title}}</h3>

      <form>
        <div class="form-group"><input type="text" id="search-field" placeholder="Search"></div>
      </form>

      <section id="results" class="site-page-content">   
      </section>

      {{content}}
    </div>
  </section>
</section>
{{! PAGE CONTENT END }}
{{/post}}



