{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}

{{! FULL GRID CONTENT START }}
<section class="two-grid-content" id="site-content-wrapper">
  {{! BLOG LIST ITEMS START }}
  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{> "loop-portfolio"}}    
  {{! BLOG LIST ITEMS END }}
</section>
{{! FULL GRID CONTENT END }}
<div class="clearfix"></div>
{{! PAGINATION START }}
{{!-- {{ pagination }}  --}}
{{! PAGINATION END }}