{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
		the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<section class="container post-header-img" style="background:url({{image}});background-size:cover;background-position:50%;">
	{{! POST IMG START }}
	<div class="post-img-overlay">
		
		<div class="container">
			
			{{! POST HEADER START }}
			<div class="post-header post">
				<div class="single-title">
					<h1 class="post-title">{{title}}</h1>
				</div>
				<div class="single-top-information">
					<div class="single-top-info">
						{{!-- {{#if tags}}
							<span class="category">{{tags autolink="false" separator=", "}}</span>
						{{/if}}
						<span class="separate">//</span> --}}
						<span class="date"><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time></span>
					</div>
				</div>
			</div>
			{{! POST HEADER END }}

		</div>

	</div>
	{{! POST IMG END }}
</section>
<section class="container">
	<section class="site-single-content">
		<section class="row">
			{{! SINGLE CONTENT START }}
			<div class="col-sm-9 col-xs-12">
				<article class="post format-standard">
					{{! POST CONTENT START }}
					<div class="post-entry">

						{{content}}

					</div>
					{{! POST CONTENT END }}
					{{! POST SHARE START }}
					<div class="post-share">
						<div class="col-sm-4 col-xs-12 nopaddingleft">
						{{#if tags}}
							<div class="post-in-category">
								<h6>Tags</h6>
								<div class="post-in-category-list">
								{{tags separator=", "}}
								</div>
							</div>
						{{/if}}
						</div>
						<div class="col-sm-8 col-xs-12 nopaddingright">
							<div class="post-social-share">
								
								<ul>
									<li><h6>Share</h6></li>
									<li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" title="Share to Facebook" class="share-facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/home?status={{url absolute="true"}}%20{{tags prefix="%23" separator="%20%23" autolink="false"}}" title="Share to Twitter" class="share-twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://plus.google.com/share?url={{url absolute="true"}}" title="Share to Google+" class="share-googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute="true"}}&amp;title={{encode title}}&amp;summary={{excerpt words="45"}}&amp;source={{@blog.title}}" title="Share to Linkedin" class="share-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="https://pinterest.com/pin/create/button/?{{url absolute="true"}}{{#if image}}&amp;media={{@blog.url}}{{image}}{{/if}}&amp;description={{excerpt words="20"}}" title="Share to Pinterest" class="share-pinterest" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
									<li><a href="http://www.reddit.com/submit/?url={{url absolute="true"}}&amp;title={{encode title}}" title="Share to Reddit" class="share-reddit" target="_blank"><i class="fa fa-reddit"></i></a></li>
									<li><a href="http://del.icio.us/post?url={{url absolute=" true "}}%2F&amp;title={{encode title}}" title="Share to Delicious" class="share-delicious" target="_blank"><i class="fa fa-delicious"></i></a></li>
									<li><a href="https://www.stumbleupon.com/submit?url={{url absolute="true"}}%2F&amp;title={{encode title}}" title="Share to Stumbleupon" class="share-stumbleupon" target="_blank"><i class="fa fa-stumbleupon"></i></a></li>
									<li><a href="http://www.tumblr.com/share/link?url={{url absolute="true"}}&amp;name={{encode title}}&amp;description={{excerpt words="45"}}" title="Share to Tumblr" class="share-tumblr" target="_blank"><i class="fa fa-tumblr"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					{{! POST SHARE END }}
					{{! POST NAV START }}
						<div class="post-nav">
						  <nav>
						    <ul class="pager">
						    {{#prev_post}}
						      <li class="previous"><a href="{{url}}" rel="prev"><div class="post-nav-img"><img src="{{image}}" alt="{{title}}"></div> <div class="pager-post-name">{{title}}</div><span aria-hidden="true">&lt;&lt;</span> Previous Post</a></li>
						      {{/prev_post}}
						      {{#next_post}}
						      <li class="next"><a href="{{url}}" rel="next"><div class="post-nav-img"><img src="{{image}}" alt="{{title}}"></div> <div class="pager-post-name">{{title}}</div>Next Post <span aria-hidden="true">&gt;&gt;</span></a></li>
						      {{/next_post}}						      
						    </ul>
						  </nav>
						</div>
					{{! POST NAV END }}
					{{! POST AUTHOR START }}
					{{!-- {{#author}}
						<div class="post-author">
							<aside class="about-author">
								{{#if image}}
									<div class="author-info-avatar">
										<a class="avatar" href="{{url}}" style="background-image: url({{image}})"></a>
									</div>
								{{/if}}
								<div class="author-info-description">
									<h4><span>{{name}}</span></h4>
									<p>{{bio}}</p>
								</div>
							</aside>
						</div>					
					{{/author}} --}}
					{{! POST AUTHOR END }}
				</article>
			</div>
			{{! SINGLE CONTENT END }}
			{{! SIDEBAR START }}
			<div class="col-sm-3 col-xs-12">
				<aside class="sidebar">
				
					{{! WIDGET START }}
					{{> "widgets/related-posts"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{!-- {{> "widgets/twitter"}} --}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{!-- {{> "widgets/advertising"}} --}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{!-- {{> "widgets/facebook"}} --}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "widgets/newsletter"}}
					{{! WIDGET END }}

				</aside>
			</div>
			{{! SIDEBAR END }}
		</section>
	</section>
</section>
{{! COMMENT START }}
{{> "post/comments-disqus"}}
{{! COMMENT END }}
{{/post}}

