{{! This is the Recent Posts Widget - will be output using this markup }}

<div class="general-sidebar-wrap widget-box">
  <div class="widget-title">
    <h4>Archives</h4></div>
    <form>
	  <ul class="archives-widget">

		<h3>Year:</h3>
		<select id="archives-widget-year">
			<option value="">Select Year</option>
		</select>

		<h3>Month:</h3>
		<select id="archives-widget-month">
			<option value="">Select Month</option>
		</select>

	  </ul>
	</form>
</div>