{{! This is the Facebook Widget - will be output using this markup }}

<div class="general-sidebar-wrap widget-box">
  <div class="widget-title">
    <h4>Facebook</h4></div>
  <div id="fb-root"></div>
  <div class="fb-page" data-href="https://www.facebook.com/gloriatheme" data-width="100%" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
</div>
