{{! This is the Recent Posts Widget - will be output using this markup }}

<div class="general-sidebar-wrap widget-box">
  <div class="widget-title">
    <h4>Related Posts</h4></div>
  <ul class="related-posts-widget">
		{{!-- <li>
      <a href="{{url}}"><img src="{{image}}"><h3>{{title}}</h3></a>
		</li> --}}
  </ul>
</div>