{{! This is the Latest Tweet Widget - will be output using this markup }}

<div class="general-sidebar-wrap widget-box">
  <div class="widget-title">
    <h4>Latest Tweet</h4></div>
  <div class="latest-tweets">
    <i class="fa fa-twitter"></i>
    <div class="tweets"></div>
  </div>
</div>
